<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<script type="text/javascript" th:src="@{/static/axios/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/static/zepto/zepto.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/qs.js}"></script>

<script type="text/javascript" th:inline="javascript">
let TOKEN_NAME = "my_auth_token";
let inReq = false;

function resetReq() {
	$("#reqButton").removeAttr("disabled");
	$("#reqButton").text("send");
	inReq = false;
}

$(function(){ 
	$("#token").val(localStorage.getItem(TOKEN_NAME));
})

// axios config
axios.interceptors.request.use(
	config => {
		let token = localStorage.getItem(TOKEN_NAME);
		if (token) {
	      config.headers.Authorization = "Bearer " + token;
	    }
		return config;
  	},
  	err => {
		return Promise.reject(err);
  	}
);
axios.interceptors.response.use(
	response => {
		if (response.headers.authorization) {
			let token = response.headers.authorization;
			localStorage.setItem(TOKEN_NAME, token);
			$("#token").val(token);
		}
		return response;
	},
	error => {
		return Promise.reject(error);
	}
);

function send() {
	if (inReq) {
		alert("请求中...")
		return;
	}
	inReq = true;
	$("#result").val("");
	$("#result").css("color", "");
	$("#reqButton").attr("disabled", true);
	$("#reqButton").text("......");
	$("#spend").text("");
	
	let url = [[@{/}]] + $("#url").val();
	let t_begin = new Date().getTime();
	let method = $("#post").prop("checked") ? "post" : "get";
	let param = "";
	if ($.trim($("#param").val()) != "") {
		try {
			let paramJson = JSON.parse($("#param").val());
			param = Qs.stringify(paramJson);
			$("#param").val(JSON.stringify(paramJson, null, 4))
		}
		catch(e) {
			alert("参数出错:" + e);
			resetReq();
			return;
		}
	}
	
	axios({
		method: method,
		url: url,
		data: param
	}).then(function(response) {
		console.log(response);
		$("#result").val(JSON.stringify(response.data, null, 4));
	}).catch(function(error) {
		$("#result").css("color", "red");
		console.log(error);
		let data = JSON.stringify(error.response.data);
		$("#result").val(error + "\n" + data);
	}).finally(()=>{
		$("#spend").text(new Date().getTime() - t_begin);
		resetReq();
	})

}

$(document).keyup(function(event) {
	if (event.keyCode == 13) {
		send();
	}
});

function clickTd(obj) {
	$("#url").val($(obj).text());
	if ($(obj).attr("method") == "post") {
		$("#post").prop("checked", true);
	}
	else {
		$("#get").prop("checked", true);
	}
	$("#param").val($(obj).attr("param"))
	send();
}

function login() {
	localStorage.setItem(TOKEN_NAME, "");
	var paramJson = {"userName":$("#userName").val(), "userPassword":$("#userPassword").val()};
	axios.post([[@{/security/login/login}]], Qs.stringify(paramJson)).then(res=> {
		if (res.data.code == 0) {
			let token = res.data.content;
			localStorage.setItem(TOKEN_NAME, token);
			alert("登录成功");
		}
		else {
			alert(res.data.msg);
		}
	})
}

function logout() {
	axios.post([[@{/security/login/logout}]]).then(res=> {
		if (res.data.code == 0) {
			let token = res.data.content;
			localStorage.setItem(TOKEN_NAME, "");
			alert("退出成功");
		}
		else {
			alert(res.data.msg);
		}
	})
}


function saveToken() {
	localStorage.setItem(TOKEN_NAME, $("#token").val());
	alert("保存成功");
}

function getToken() {
	$("#token").val(localStorage.getItem(TOKEN_NAME));
}

function decodeToken() {
	let token = $("#token").val();
	let item = token.split(".");
	if (item.length != 3) {
		$("#decodeToken").val("出错");
	}
	let jsonStr = window.atob(item[1]);
	let json = JSON.parse(jsonStr);
	let exp = json.exp;
	$("#decodeToken").val(jsonStr + " " + new Date(exp * 1000));
}

</script>
<style type="text/css">
a:visited {color: blue;}

#myTable a {text-decoration: underline; color: blue; cursor: pointer;}
</style>
</head>


<body>

<div>
	<input type="text" id="userName" placeholder="用户名" value="test" style="width:80px">
	<input type="text" id="userPassword" placeholder="密码" value="test" style="width:80px">
	<button type="button" onclick="login()">login</button>
	<button type="button" onclick="logout()">logout</button>
	
	<input type="text" id="url" style="width:300px;margin-left:20px" value="security/login/login">
	<input type="radio" id="get" name="method"><label for="get">GET</label>
	<input type="radio" id="post" name="method" checked="checked"><label for="post">POST</label>
	<button type="button" id="reqButton" onclick="send()" style="width:60px">send</button>
	<span>用时(ms):</span><span id="spend"></span>
</div>

<div style="margin-top: 10px">
	<textarea id="param" rows="8" style="width:1024px">{"userName":"test", "userPassword":"test"}</textarea>
</div>

<table border="1" id="myTable" style="display: ">
<tr>
	<td>no intercept</td>
	<td><a onclick="clickTd(this)" method="post" param='{"userName":"test", "userPassword":"test"}'>security/login/login</a></td>
	<td><a onclick="clickTd(this)" method="get">test/testapi/get?id=100</a></td>
	<td><a onclick="clickTd(this)" method="post" param='{"id":100}'>test/testapi/post</a></td>
	<td><a onclick="clickTd(this)" method="post" param='{"id":100, "name":"myname", "date":"2021-09-22", "dateTime":"2021-09-22 19:08:30"}'>test/testapi/submit</a></td>
</tr>
<tr>
	<td><a onclick="clickTd(this)">test/test/hello</a></td>
	<td><a onclick="clickTd(this)">test/test/sleep</a></td>
	<td><a onclick="clickTd(this)" method="post">test/test/businessException</a></td>
</tr>
<tr>
	<td><a onclick="clickTd(this)">test/test/error</a></td>
	<td><a onclick="clickTd(this)">test/test/error?id=ABC</a></td>
</tr>

<tr>
<td><a onclick="clickTd(this)">test/example/page</a></td>
</tr>
</table>

<div style="margin-top:10px">
	<textarea id="result" rows="8" style="width:1024px;" wrap="off"></textarea>
</div>

<div style="margin-top:20px">
	<textarea rows="3" id="token" style="width:800px;"></textarea>
	<button onclick="getToken()">get</button>
	<button onclick="saveToken()">save</button>
	<button onclick="decodeToken()">decode</button>
</div>

<div>
	<input type="text" id="decodeToken" style="width:1024px" value="">
</div>

<!-- 
window.btoa('china is so nb') // 编码
"Y2hpbmEgaXMgc28gbmI="
window.atob("Y2hpbmEgaXMgc28gbmI=") // 解码
"china is so nb"
 -->
 



</body>
</html>

