<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<script type="text/javascript" th:src="@{/static/axios/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/static/zepto/zepto.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/qs.js}"></script>

<script type="text/javascript" th:inline="javascript">
let TOKEN_NAME = "my_auth_token";
let inReq = false;

function resetReq() {
	$("#reqButton").removeAttr("disabled");
	$("#reqButton").text("send");
	inReq = false;
}

$(function(){ 
	$("#token").val(localStorage.getItem(TOKEN_NAME));
})

// axios config
axios.interceptors.request.use(
	config => {
		let token = localStorage.getItem(TOKEN_NAME);
		if (token) {
	      config.headers.Authorization = "Bearer " + token;
	    }
		
		if (config.headers["Content-Type"] !== "multipart/form-data") {
			config.data = Qs.stringify(config.data, {arrayFormat: 'repeat'})
		}
		
		return config;
  	},
  	err => {
		return Promise.reject(err);
  	}
);
axios.interceptors.response.use(
	response => {
		if (response.headers.authorization) {
			let token = response.headers.authorization;
			localStorage.setItem(TOKEN_NAME, token);
			$("#token").val(token);
		}
		
		return response;
	},
	error => {
		// 统一异常处理
		$("#result").css("color", "red");
		console.log(error);
		if (error.isAxiosError && error.message == "Network Error") {
			$("#result").val("网络异常,URL:" + error.config.url);
		}
		else {
			let data = JSON.stringify(error.response.data);
			$("#result").val(error + "\n" + data);
		}
		
		return Promise.reject(error);
	}
);


function login() {
	localStorage.setItem(TOKEN_NAME, "");
	var paramJson = {"username":$("#username").val(), "password":$("#username").val()};
	axios.post([[@{/security/home/login}]], paramJson).then(res=> {
		if (res.data.code == 0) {
			let token = res.data.content.token;
			localStorage.setItem(TOKEN_NAME, token);
			alert("登录成功");
		}
		else {
			alert(res.data.content);
		}
	})
}

function logout() {
	axios.post([[@{/security/home/logout}]]).then(res=> {
		if (res.data.code == 0) {
			let token = res.data.content;
			localStorage.setItem(TOKEN_NAME, "");
			alert("退出成功");
		}
		else {
			alert(res.data.content);
		}
	})
}

function ehrTest() {
	
}

function uploadFile(file) {
	var formData = new FormData();
	formData.append("file", file.files[0]);
	axios.post([[@{/file/upload/uploadTestImg}]], formData, {headers:{"Content-Type": "multipart/form-data"}}).then(res=> {
		alert(res.data.content);
	})
}




//---------------------------断点续传---------------------------
function setFileProgress(sliceN) {
	$("#progressId").css("width", (sliceN + 1)/uploadTimes * 100 + "%");
}
var fileObject = {};
function pointFileChange(f) {
	uploadFile = f.files[0];
    fileObject.file = uploadFile;
    fileObject.fileName = uploadFile.name;
    fileObject.fileSize = uploadFile.size;
    fileObject.lastModified = uploadFile.lastModified;
	$("#uploadFileName").text("文件名：" + uploadFile.name);
	$("#uploadFileSize").text("大小：" +　uploadFile.size);
	
	// 重新生成一个，防失效
	$(f).attr("outerHTML", $(f).prop("outerHTML"));
	uploadPointFile();
}

// 断点续传(5242880=5M)
var SLICE_LEN = 200*1024;
var uploadTimes = 0;
function uploadPointFile() {
	if (fileObject.file == undefined) {
		alert("请选择文件");
		return;
	}
	
	var fileName = fileObject.fileName;
	var times = parseInt(fileObject.fileSize / SLICE_LEN);
	if (fileObject.fileSize % SLICE_LEN != 0) times++;
	
	uploadTimes = times;
	var sliceN = 0;
	// 切片
	var fileSlice;	
	// 最后一次剩余的字节
	if (sliceN == times - 1 && fileObject.fileSize % SLICE_LEN != 0) {
		fileSlice = fileObject.file.slice(SLICE_LEN * sliceN, SLICE_LEN * sliceN + fileObject.fileSize % SLICE_LEN);
	}
	else {
		fileSlice = fileObject.file.slice(SLICE_LEN * sliceN, SLICE_LEN * sliceN + SLICE_LEN);
	}
	
	$("#uploadHit").text("");
	$("#selectFileButton").attr("disabled", true);
	$("#selectFileButton span").text("正在上传....");
	$("#progressId").css("width", "0%");
	
	uploadFileToServer(fileObject, sliceN, fileSlice, 0);
}

function uploadFileToServer(f, sliceN, fileSlice,startPoint) {
	var formData = new FormData();
	formData.append("file", fileSlice);
	formData.append("fileName", f.fileName);
	formData.append("fileSize", f.fileSize);
	formData.append("sliceLen", SLICE_LEN);
	formData.append("sliceN", sliceN);
	formData.append("lastModified", f.lastModified);
	formData.append("startIndex", startPoint);
	
	axios.post([[@{/file/upload/uploadPoint}]], formData, {headers:{"Content-Type": "multipart/form-data"}}).then(res=> {
		json = res.data;
		json.status = res.data.content.status;
		
		var startPoint = 0;// 起点迁移量
		if (json.status == -1) {
			alert("服务器异常，请稍后再试");
			$("#selectFileButton").attr("disabled", false);
			$("#selectFileButton span").text("[上传文件]");
			return;
		}
		else if (json.status == 'exist') {
			$("#progressId").css("width", "100%");
			$("#uploadHit").text("上传成功，文件已经存在");
			$("#selectFileButton").removeAttr("disabled");
			$("#selectFileButton span").text("[上传文件]");
			
			successCallback(json);
			return;
		}
		else if (json.status == 2) {
			if(json.posiN && json.startPoint) {// 有返回不完整分片信息，则补完整该分片
				// 服务器已经存在文件部分，断点续传
				sliceN = json.posiN;
				startPoint = json.posiN;// 不完整分片已录长度作为起点迁移量
			} else {
				alert("文件出现异常，不能再续传，请修改文件名称，重新上传");
				$("#selectFileButton").attr("disabled", false);
				$("#selectFileButton span").text("[上传文件]");
				return;
			}
		}
		else if (json.status == 3) {
			// 服务器已经存在文件部分，断点续传
			sliceN = json.posiN;
		}
		
		setFileProgress(sliceN);
		sliceN++;
		if (sliceN < uploadTimes) {
			// 切片
			var fileSlice;	
			// 最后一次剩余的字节
			if (sliceN == uploadTimes - 1 && fileObject.fileSize % SLICE_LEN != 0) {
				fileSlice = fileObject.file.slice(SLICE_LEN * sliceN + startPoint, SLICE_LEN * sliceN + fileObject.fileSize % SLICE_LEN);
			}
			else {
				fileSlice = fileObject.file.slice(SLICE_LEN * sliceN + startPoint, SLICE_LEN * sliceN + SLICE_LEN);
			}
			uploadFileToServer(fileObject, sliceN, fileSlice,startPoint);
		}
		else {
			$("#uploadHit").text("上传完成");
			$("#selectFileButton").attr("disabled", false);
			$("#selectFileButton span").text("[上传文件]");
			successCallback(json);
		}
	})
}

function successCallback(r) {
	$("#originalFilename").text(r.content.result);
	$("#uploadPath").val(r.content.result);
}

</script>
<style type="text/css">
a:visited {color: blue;}
#myTable a {text-decoration: underline; color: blue; cursor: pointer;}
</style>
</head>

<body>

<button type="button" onclick="ehrTest()" style="width:200px">EHR测试</button>

<div>
	<input type="text" id="username" placeholder="用户名" value="test" style="width:80px">
	<input type="text" id="password" placeholder="密码" value="test" style="width:80px">
	<button type="button" onclick="login()">login</button>
	<button type="button" onclick="logout()">logout</button>
</div>

<div style="margin-top:10px">
	<textarea id="result" rows="9" style="width:1024px;" wrap="off"></textarea>]
</div>

<div><input type="file" onchange="uploadFile(this)"></div>

<br>
<div> 
	<button type="button" id="selectFileButton" onclick="$(this).next().click()" style="border:0px;color:blue;background-color: white; cursor:pointer">
		<span>[上传文件]</span>
	</button>
	<input id="addFile" type="file" onchange="pointFileChange(this)" style="display:none;" accept=".zip">
	<span id="originalFilename">&nbsp;</span>
	<span id="uploadHit"></span>
</div>
<div class="progress" style="border: 1px solid gray;width:500px;height:6px">
	<div id="progressId" style="border: 1px solid white; width:0%;height:4px;background-color: blue"></div>
</div>


</body>
</html>

